Lead Capture System.json
{
  "_CREDENTIALS_AND_PLACEHOLDERS_GUIDE": {
    "IMPORTANT": "Replace all placeholder values with your actual credentials before using this workflow",
    "YOUR_WEBHOOK_ID": "Get from n8n > Your workflow > Webhook node > Copy the Webhook URL and extract the ID from it",
    "YOUR_GOOGLE_SHEETS_DOCUMENT_ID": "Get from your Google Sheet URL: https://docs.google.com/spreadsheets/d/{YOUR_GOOGLE_SHEETS_DOCUMENT_ID}/edit - Copy the ID between /d/ and /edit",
    "YOUR_SPREADSHEET_NAME": "The name of your Google Sheet tab (default is 'Sheet1' or your custom sheet name)",
    "YOUR_CREDENTIAL_ID": "Get from n8n > Credentials > Google Sheets OAuth2 > Click on it and copy the ID from URL or use the connection in n8n",
    "YOUR_SMTP_CREDENTIAL_ID": "Get from n8n > Credentials > SMTP > Click on your SMTP credential and use the ID or reconfigure it in the nodes",
    "your-email@example.com": "Your actual email address that will send the emails",
    "admin-email@example.com": "Admin email address where lead notifications should be sent",
    "YOUR_INSTANCE_ID": "Get from n8n > Settings > Instance ID or from export metadata",
    "YOUR_VERSION_ID": "Unique workflow version - regenerated automatically by n8n on each save",
    "YOUR_WORKFLOW_ID": "Unique workflow identifier - found in n8n workflow URL: /workflow/{YOUR_WORKFLOW_ID}",
    "YOUR_BRAND_NAME": "Your company or product name (appears in email templates)",
    "NODE_IDs": "System-generated unique identifiers for each node - auto-regenerated by n8n on import"
  },
  "name": "Lead Capture System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        -240
      ],
      "id": "YOUR_WEBHOOK_NODE_ID",
      "name": "Webhook",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "YOUR_SPREADSHEET_NAME",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "YOUR_SPREADSHEET_NAME",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{$json[\"body\"][\"name\"]}}",
            "Email": "={{$json[\"body\"][\"email\"]}}",
            "Contact": "={{$json[\"body\"][\"contact\"]}}",
            "Message": "={{$json[\"body\"][\"message\"]}}",
            "Date": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact",
              "displayName": "Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -224,
        -240
      ],
      "id": "YOUR_GOOGLE_SHEETS_NODE_ID",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "your-email@example.com",
        "toEmail": "={{$json[\"Email\"]}}",
        "subject": "Thanks for contacting YOUR_BRAND_NAME 🚀",
        "emailFormat": "text",
        "text": "=Hi {{$json[\"Name\"]}},\n\nThank you for contacting us 🙌\n\nWe received your message:\n\"{{$json[\"Message\"]}}\"\n\nWe will get back to you soon.\n\n— Team YOUR_BRAND_NAME",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        32,
        -240
      ],
      "id": "YOUR_SEND_EMAIL_USER_NODE_ID",
      "name": " Send email to user",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "your-email@example.com",
        "toEmail": "admin-email@example.com",
        "subject": "=New Lead Received - YOUR_BRAND_NAME",
        "emailFormat": "text",
        "text": "=New Lead Received 🎯\n\nName: {{$node[\"Append row in sheet\"].json[\"Name\"]}}\nEmail: {{$node[\"Append row in sheet\"].json[\"Email\"]}}\nContact: {{$node[\"Append row in sheet\"].json[\"Contact\"]}}\nMessage: {{$node[\"Append row in sheet\"].json[\"Message\"]}}\n\nDate: {{$node[\"Append row in sheet\"].json[\"Date\"]}}\n\n-- Automated by YOUR_BRAND_NAME Lead Engine",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        256,
        -240
      ],
      "id": "YOUR_SEND_EMAIL_ADMIN_NODE_ID",
      "name": " send leads email to Admin",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": " Send email to user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Send email to user": {
      "main": [
        [
          {
            "node": " send leads email to Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
} 